@media (max-width: 425px) {
    header {
        padding: 5px;
        justify-content: center;
    }
}

header {
    padding:0 10px 5px 10px;
    font-size: 20px;
    text-align: right;
}

.scoreBoard ul {
    list-style: none;
}

/*.scoreBoard ul li {
    display: inline;
} */